# 为所有文本文件设置行尾符号为LF
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.svg text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.xml text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# 二进制文件
*.pdf binary
*.jpg binary
*.png binary
*.jpeg binary
*.gif binary

# 特定文件配置
CNAME text eol=lf
README.md text eol=lf